#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: black; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.swiper {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#footer-style {
  background-color: black;
  padding-top: 20px;
  padding-left: 250px;
  color: whitesmoke;
}

.mySwiper {
  margin-top: 120px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#description {
  font-family: 'Dancing script', cursive;
  padding-top: 50px;
  text-decoration-line: underline;
}

#ingredients {
  font-family: 'Dancing script', cursive;
  text-decoration-line: underline;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: hidden;
}

#categories {
  font-family: 'Dancing script', cursive;
}

#items {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
  margin-left: 25px;
}

.items {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
  margin-left: 15px;
  text-decoration-color: none;
}

#linkItems {
  text-decoration-line: none;
  color: gray;
}

#popular-products {
  font-family: 'Dancing script', cursive;
}

#price-filter {
  font-family: 'Dancing script', cursive;
  margin-top: 50px;
}

#price {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
  margin-left: 50px;
  color: gray;
}

#filter-btn:hover {
  background-color: black;
}

#sidebar-follow {
  font-family: 'Dancing script', cursive;
  margin-top: 50px;
}

#follow-icons {
  margin-left: 50px;
}

#tags {
  font-family: 'Dancing script', cursive;
  margin-left: 50px;
  margin-top: 50px;
}

#tag-links {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
  color: gray;

}

#tag-items {
  color: gray;
  text-decoration-line: none;
}

.cakename {
  margin-top: 50px;
  width: 500px;
}

.descrp {
  width: 475px;
}

.price-define {
  width: 480px
}

#footer-link {
  list-style: none;
}

#useful-links {
  color: grey;
  text-decoration-line: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
  line-height: 30px;
}

#footer-para {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
}

.child-four {
  margin-left: 60px;
}

.child-one {
  margin-top: 100px;
}
.child-three{
margin-right: 30px;
}
#footer-icons {
  margin-top: 20px;
}

#order-pagination {
  margin-top: 150px;
  margin-left: 400px;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.left-part {
  flex-direction: column;
  margin-top: 100px;
  margin-left: 20px;
}

.right-part {
  margin-left: 100px;
  margin-top: 200px;

}

#creation-para {
  text-align: center;
}

.carousel {
  margin-left: 50px;
  margin-top: 100px;
}

.border {
  border-style: hidden;
  width: 900px;
  height: 350px;
  background-color: white;
  color: goldenrod;
  margin-left: 50px;
}

.cart {
  background-color: aliceblue;
}

#cart-heading {
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Times New Roman';
  font-size: 15vh;
}

#cart-btn {
  background-color: whitesmoke;
  color: black;
  border-color: black;
  width: 220px;
  height: 50px;
  border-radius: 0%;
  margin-left: 530px;
  margin-top: 20px;
  font-family: 'Times New Roman';
}

#checkout-btn {
  background-color: whitesmoke;
  color: black;
  border-color: black;
  width: 220px;
  height: 50px;
  border-radius: 0%;
  margin-top: 20px;
  font-family: 'Times New Roman';
  margin-left: 50px;
}

#checkout-link {
  text-decoration-line: none;
  color: black;
}

#billing-heading {
  font-family: 'Times';
  font-size: 6vh;
}

#checkout {
  display: flex;
  flex-wrap: wrap;
}

#billing {
  flex-direction: column;
}

#order-notes {
  font-family: 'Times';
  font-size: 3vh;
}

#payment-heading {
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Times New Roman';
  font-size: 10vh;
  color: green;
}

.payment {
  background-color: #E9EBEE;
}

#payment-details {
  font-family: 'Times';
  font-size: 5vh;
}

#payment-secure {
  font-family: 'Times';
  font-size: 3vh;
  color: #90949C;
}

#payment-button {
  background-color: #3b5999;
  border-color: #3b5999;
  border-radius: 3px;
  width: 450px;
  margin-left: 20px;
}

#debit-button {
  background-color: #90949C;
  border-radius: 3px;
  width: 450px;
  margin-left: 20px;
  border-color: #90949C;
}

#myorder-heading {
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Times New Roman';
  font-size: 15vh;
}

.my-order {
  background-color: #E9EBEE;
}

